# Server Configuration
PORT=8000

# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=rendering_list

# Add other environment variables here as your app grows
# JWT_SECRET=